@import "../../styles/breakpoints";


.lower-footer{
  height: 6em;
  background-color: grey;
  width: 100%;
  color:white;
  @include lg {
    margin-top: 2em;
    p{
      font-size: 12px;

    }
  }

}