.ticket{
    border: 1px solid rgb(175, 175, 175);
    padding: 1em;
    width:70%;
    margin-top: 2em;
    height: 60vh;
    h1{
        color:black
    }


    h4{
        margin-bottom:2px;
        font-weight: lighter;
        margin-top: 4px
    }
    button{
        margin-top:1em; 
        height: 3em;
        font-size: 14px;
    }
    .login-input{
        background-color: white;
    }
    p{
        font-weight: bold;
        margin: 7px;
        font-size: 14px;
    }
}