.ticket{
    //border: 1px solid rgb(175, 175, 175);
    padding: 1em;
    width:70%;
    margin-top: 2em;
    height: auto;
    h1{
        color:black
    }
    h2{
        font-weight: lighter;
    }
    span{
        font-weight: bold;
    }

    h4{
        margin-bottom:2px;
        font-weight: lighter;
        margin-top: 4px
    }
    button{
        margin-top:1em; 
        height: 3em;
        font-size: 14px;
        width:360px
    }
    mark{
        background-color: white;
        font-weight: bold;
    }
    .login-input{
        background-color: white;
    }
    p{
        font-weight: lighter;
        margin: 7px;
        font-size: 15px;
    }
}