
.card {
    background-color: rgb(255, 255, 255);
    height: 370px;
    

  /*   margin:10px; */
    img{
        height: 250px;
        width: 250px;

    }
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    .card-shadow{
      box-shadow: rgba(0, 0, 0, 0.3) 6px 6px 6px;

    }
    
}
