@import "../../styles/breakpoints";

.navItems {
    display: flex !important;
  
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid grey;
    

    a{
        text-decoration: none;
        color:black;
        font-weight: bold;
        line-height: 2;
            
    }

    @include lg {
      
       display:none !important ;
    }

}

