.navBar-item-container{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.top-container{
    
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3em;
    margin-top:1em;
    img{
        width:15em;
        height:auto
    }
}
