.login{
    border: 1px solid rgb(175, 175, 175);
    padding: 1em;
    width:100%;
    margin-top: 2em;


    h4{
        margin-bottom:6px;
        font-weight: lighter;
        
    }
    button{
        margin-top:2em; 
        height: 3em;
        font-size: 14px;
        
    }
    .login-input{
        background-color: white;
    }
    p{
        font-weight: bold;
        margin: 2px;
        font-size: 11px;
    }
    h5{
        font-weight: bold;
        margin: 7px;
        font-size: 14px;
    }
    .link{
     
            padding:0;
            margin:0;
            background-color: white;
            border: none;
            cursor:pointer
    }

}